/* .brownk
{
    background-color: brown;
    color: white;

} */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
 @font-face {
    font-family:light ;
    src: url(SuisseIntl-Light.ttf);
 }
 @font-face {
    font-family:"ggo" ;
    src: url(SuisseIntl-Regular.ttf);
 }
 @font-face {
    font-family: "bobo";
    src: url(./fonts/BebasNeue-Regular.ttf);
 }
 
 *
 {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "ggo";
 }
 body{
    background-color: rgba(235, 77, 230, 0.405);;
 }
 #page1
 {
    height: 100vh;
    width: 100vw;
   
 }
 #logo
 {
    height: 40px;
 }
#hero
{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
}
#box1
{
    width: 30%;
    height: 100%;
    /* background-color: aquamarine; */
}
#box2
{
    width: 40%;
    height: 100%;
    /* background-color: rgb(255, 127, 217); */
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
}
#box3
{
    width: 30%;
    height: 100%;
    /* background-color: aquamarine; */
}
#name
{
    text-transform: uppercase;
    letter-spacing: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#heroimg
{
    background-image: url(./images/Gemini_Generated_Image_y3qlldy3qlldy3ql-removebg-preview.png);
    height: 100%;
    background-size: cover;
    width: 100%;

}
#box1top
{
    width: 100%;
    height: 50%;
    /* background-color: blueviolet; */
    padding: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
}
#box1top h3
{
    text-align: center;
    font-weight: bolder;
    font-family: "bobo";
}
#box1bottom
{
    width: 100%;
    height: 50%;
    background-color:transparent;
    padding: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: start;
}
#box1bottom h3
{
    font-weight: bolder;
    font-family: "bobo";

}
#order
{
    height: 7vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}
.component {
    color: var(--bs-gray-800);
    background-color: var(--bs-gray-100);
    border: 1px solid var(--bs-gray-200);
    border-radius: .25rem;
  }
  
  .component-header {
    color: var(--bs-purple);
  }
footer
{
    margin-top: 15vh;
    width: 100%;
    height: 80px;
    display: flex;
    background-color: rgba(94, 75, 75, 0.405);
    align-items: center;
    color: white;
    padding: 0 2vw;
    justify-content: space-between;
}
  
#footer3
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 30px;
}
#footer3 i:hover
{
    color: pink;
}
@media screen and (max-width: 800px) {
    #hero{
        flex-direction: column;
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    #box1
    {
        width: 100%;
    }
    #box2
    {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
  }